<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Trang chủ</title>
    <link rel="shortcut icon" type="image/png" th:href="@{/img/logo.png}" />
    <link rel="stylesheet" th:href="@{/assets/css/styles.min.css}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/font-awesome.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/elegant-icons.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/flaticon.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/owl.carousel.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/nice-select.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/jquery-ui.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/magnific-popup.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/slicknav.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css">
</head>

<body>
    <div id="preloder">
        <div class="loader"></div>
    </div>
        <!-- HEADER BEGIN-->
    <div class="offcanvas-menu-overlay"></div>
    <div class="canvas-open">
        <i class="icon_menu"></i>
    </div>
    <div class="offcanvas-menu-wrapper">
        <div class="canvas-close">
            <i class="icon_close"></i>
        </div>
        <div class="search-icon  search-switch">
            <i class="icon_search"></i>
        </div>
        <nav class="mainmenu mobile-menu">
            <ul>
                <li><a href="./index.html">Trang chủ</a></li>
                <li><a href="./about-us.html">Giới thiệu</a></li>
                <li><a href="./rooms.html">Trang</a>
                    <ul class="dropdown">
						<li><a href="./rooms.html">Danh sách Phòng</a></li>
                        <li><a href="./rooms-1.html">Phòng Đơn</a></li>
                        <li><a href="./rooms-2.html">Phòng Đôi</a></li>
                        <li><a href="./rooms-family.html">Phòng Gia Đình</a></li>
                    </ul>
                </li>
                <li><a href="./serviceModel.html">Dịch vụ</a></li>
                <li class="active"><a href="./contact.html">Liên hệ</a></li>
				<li><a href="./cart.html">Giỏ hàng</a></li>
				<li><a href="./user-info.html">Tài khoản</a>
					<ul class="dropdown">
						<li><a href="./user-info.html">Thông tin tài khoản</a></li>
						<li><a href="./history-room.html">Xem lịch sử đặt phòng</a></li>
						<li><a href="./history-serviceModel.html">Xem lịch sử đặt dịch vụ</a></li>
                        <li><a href="./change-pass.html">Đổi mật khẩu</a></li>
					</ul>
				</li>
				<li><a href="./login.html" >Đăng nhập</a></li>
            </ul>
        </nav>
        <div id="mobile-menu-wrap"></div>
    </div>
    <header class="header-section">
        <div class="menu-item">
            <div class="container">
                <div class="row">
                    <div class="col-lg-2">
                        <div class="logo">
                            <a href="./index.html">
                                <img src="/img/logo.png" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-10">
                        <div class="nav-menu">
                            <nav class="mainmenu">
                                <ul>
                                    <li><a href="./index.html">Trang chủ</a></li>
                                    <li><a href="./about-us.html">Giới thiệu</a></li>
                                    <li><a href="./rooms.html">Trang</a>
                                        <ul class="dropdown">
											<li><a href="./rooms.html">Danh sách Phòng</a></li>
											<li><a href="./rooms-1.html">Phòng Đơn</a></li>
											<li><a href="./rooms-2.html">Phòng Đôi</a></li>
											<li><a href="./rooms-family.html">Phòng Gia Đình</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="./serviceModel.html">Dịch vụ</a></li>
                                    <li class="active"><a href="./contact.html">Liên hệ</a></li>
									<li><a href="./cart.html">Giỏ hàng</a></li>
                                    <li><a href="./user-info.html">Tài khoản</a>
                                        <ul class="dropdown">
                                            <li><a href="./user-info.html">Thông tin tài khoản</a></li>
											<li><a href="./history-room.html">Xem lịch sử đặt phòng</a></li>
                                            <li><a href="./history-serviceModel.html">Xem lịch sử đặt dịch vụ</a></li>
											<li><a href="./change-pass.html">Đổi mật khẩu</a></li>
                                        </ul>
                                    </li>
									<li><a href="./login.html" >Đăng nhập</a></li>
                                </ul>
                            </nav>
                            <div class="nav-right search-switch">
                                <i class="icon_search"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- HEADER END -->

    <!-- CONTENT BEGIN -->
    <section class="contact-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="contact-text">
                        <h2>Thông tin liên hệ</h2>
                        <p></p>
                        <table>
                            <tbody>
                                <tr>
                                    <td class="c-o">Địa chỉ:</td>
                                    <td>19 Đ. Nguyễn Hữu Thọ, Tân Hưng, Quận 7, Thành phố Hồ Chí Minh</td>
                                </tr>
                                <tr>
                                    <td class="c-o">Số điện thoại:</td>
                                    <td>(12) 345 67890</td>
                                </tr>
                                <tr>
                                    <td class="c-o">Email:</td>
                                    <td>hotelhub@gmail.com</td>
                                </tr>
                               
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-lg-7 offset-lg-1">
                    <form action="#" class="contact-form">
                        <div class="row">
                            <div class="col-lg-6">
                                <input type="text" placeholder="Your Name">
                            </div>
                            <div class="col-lg-6">
                                <input type="text" placeholder="Your Email">
                            </div>
                            <div class="col-lg-12">
                                <textarea placeholder="Your Message"></textarea>
                                <button type="submit">Gửi</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            
        </div>
    </section>
    <!-- CONTENT END-->

    <!-- FOOTER BEGIN-->
    <footer class="footer-section">
        <div class="container">
            <div class="footer-text">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="ft-about">
                            <div class="logo">
                                <a href="./index.html">
                                    <img src="/img/footer-logo.png" alt="">
                                </a>
                            </div>
                            <p>Chúng tôi truyền cảm hứng và kết nối <br /> với hàng triệu du khách</p>
                            <div class="fa-social">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-tripadvisor"></i></a>
                                <a href="#"><i class="fa fa-instagram"></i></a>
                                <a href="#"><i class="fa fa-youtube-play"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 offset-lg-1">
                        <div class="ft-contact">
                            <h6>Contact Us</h6>
                            <ul>
                                <li>(12) 345 67890</li>
                                <li>hotelhub@gmail.com</li>
                                <li>19 Đ. Nguyễn Hữu Thọ, Tân Hưng, Quận 7, Thành phố Hồ Chí Minh</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 offset-lg-1">
                        <div class="ft-newslatter">
                            <h6>New latest</h6>
                            <p> Nhận những cập nhật và ưu đãi mới nhất.</p>
                            <form action="#" class="fn-form">
                                <input type="text" placeholder="Email">
                                <button type="submit"><i class="fa fa-send"></i></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- FOOTER END-->
        <script th:src="@{/js/jquery-3.3.1.min.js}"></script>
        <script th:src="@{/js/bootstrap.min.js}"></script>
        <script th:src="@{/js/jquery.magnific-popup.min.js}"></script>
        <script th:src="@{/js/jquery.nice-select.min.js}"></script>
        <script th:src="@{/js/jquery-ui.min.js}"></script>
        <script th:src="@{/js/jquery.slicknav.js}"></script>
        <script th:src="@{/js/owl.carousel.min.js}"></script>
        <script th:src="@{/js/main.js}"></script>

</body>

</html>